#all{
    width: 50%; 
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    padding: 5%;
    text-align: center;
    background-color: bisque;
    border-color: brown;
    border-style: groove;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
}
button{
    background-color: blanchedalmond;
    border-color: brown;
    border-radius: 10px;
    font-size: 15px;
}